<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Isometric Relay • Star Wars</title>
</head>
<body>
    <div id="root"><%- reactOutput %></div>
    <script id="preloadedData" type="application/json"><%- preloadedData %></script>
    <script src="/app.js"></script>
</body>
</html>
